.container {
  padding: 2rem;
  border: 0.08rem solid rgba(168, 167, 167, 0.657);
  border-radius: 8px;
  margin-bottom: 1rem;
  background-color: #f9f9f9;
}

.exercise-params {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  padding: 6px;
  border-radius: 12px;
  background-color: #e0f7fa;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  cursor: move;
  transition: background-color 0.3s ease;
}

.exercise-params:hover {
  background-color: #b2ebf2;
}

.exercise-params label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.exercise-params input,
.exercise-params select {
  padding: 4px;
  font-size: 14px;
  margin-top: 4px;
  width: 60px;
  border-radius: 6px;
}

.exercise-control {
  display: flex;
  align-items: baseline;
  background-color: #f7f7f7; /* Light background */
  border-radius: 5px; /* Rounded corners */
  padding: 8px 12px; /* Padding for space */
  margin: 5px; /* Space between controls */
}

.label {
  margin-right: 10px; /* Space between label and button */
  font-weight: bold; /* Make label bold */
}

.control-button {
  background-color: #e0e0e0; /* Light grey background for buttons */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded button corners */
  padding: 8px; /* Padding inside buttons */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 16px; /* Button text size */
  transition: background-color 0.3s; /* Smooth background transition */
}

.control-button:disabled {
  background-color: #d3d3d3; /* Darker grey when disabled */
  cursor: not-allowed; /* Not allowed cursor */
}

.control-button:hover:not(:disabled) {
  background-color: #b0b0b0; /* Darker grey on hover */
}

.value {
  margin: 0 10px; /* Space between buttons and value */
  font-weight: bold; /* Make value bold */
  font-size: 16px; /* Adjust value text size */
}


button {
  border: none;
  padding: 4px 8px;
  border-radius: 8px;
  background-color: #00796b;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #004d40;
}

.duplicate-btn{
  text-align: center;
  width: 5.2rem;
  height: 3rem;
}

.delete-btn{
  text-align: center;
  width: 0px;
 
}

.delete-bin{
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.clear-button {
  background-color: white; 
  border: 1px solid red; 
  color: black; 
  padding: 8px 12px; 
  border-radius: 5px; 
  cursor: pointer; 
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.clear-button:hover {
  background-color: rgba(255, 0, 0, 0.1);
  border-color: red; 
}


.toggle-slider {
  position: relative;
  width: 120px;
  height: 30px;
  background-color: #e0e0e0;
  border-radius: 25px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.toggle-slider input[type="radio"] {
  display: none;
}

.toggle-label {
  flex: 1;
  text-align: center;
  font-weight: 500;
  line-height: 30px;
  color: #555;
  transition: color 0.3s ease;
  z-index: 1;
}

.toggle-slider input[type="radio"]:checked + .toggle-label {
  color: white;
}

.toggle-button {
  position: absolute;
  top: 2px;
  bottom: 2px;
  width: 50%;
  background-color: #007bff;
  border-radius: 25px;
  transition: transform 0.3s ease;
  z-index: 0;
}

input[type="radio"]:checked:nth-of-type(1) ~ .toggle-button {
  transform: translateX(0%);
}

input[type="radio"]:checked:nth-of-type(2) ~ .toggle-button {
  transform: translateX(100%);
}

.saved-combos {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.saved-combos h3 {
  margin-bottom: 1rem;
}

.saved-combos ul {
  list-style-type: none;
  padding: 0;
}

.saved-combos li {
  background-color: #e0f7fa;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: background-color 0.3s ease;
}

.saved-combos li:hover {
  background-color: #b2ebf2;
}

.schedule-container {
  display: flex;
  justify-content: space-between; /* Aligns items to the left and right */
  align-items: center; /* Centers items vertically */
  padding: 1rem; /* Optional: padding for better spacing */
}


.select-days{
  text-align: start;
}

.days-selector {
  display: flex;
  justify-content: flex-start;
  gap: .4rem;
  margin: 10px 0;
}

.day-circle {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ccc; /* Default color */
  color: #333;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.day-circle.selected {
  background-color: #007bff; /* Selected color - blue */
  color: #fff;
}

.select-all-button{
  width: 7.1rem;
  height: 1.8rem;
}

.decrement {
  background-color:#ccc ;
}

.increment {
 background-color:#ccc ;
}